.business-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.business-form {
  width: 100%;
}

.upload-container {
  width: 100%;
  max-width: 340px;
  margin: 0 auto 20px auto;
}

.upload-label {
  width: 100%;
  height: 48px;
  background: #f9f9fa;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.upload-text {
  margin: 0;
  color: #a2a0a8;
}

.hidden-input {
  display: none;
}

.fixed-grid {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.fixed-grid .fixed-box:nth-child(4),
.fixed-grid .fixed-box:nth-child(5) {
  grid-column: span 1;
}

.fixed-box {
  width: 100%;
  height: 120px;
  background: #f9f9fa;
  border-radius: 12px;
  border: 1px solid #e6e6e6;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 12px; 
}
.remove-btn {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 20px;
  height: 20px;
  background: #ff4d4f;
  border: none;
  border-radius: 50%;

  color: #fff;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
}

/* Responsive */
@media (max-width: 420px) {
  .fixed-box {
    height: 110px;
  }
}
